<title>Equilab | Home</title>

<div class="container-fluid" style="padding-left: 300px;">

<div class="row">

<div class="col-md-12" [@fadeIn]="'true'">

<div style="margin: 100px;" [@fadeIn]="'true'">
  <h1> TEST QUERIES (HÅRDKODAT ID) </h1>
<ul style="margin-top: 50px;" >
  <li style="float:left; width:180px;" *ngFor="let item of userinfo | async" >{{item.first_name}} {{item.weight}}kg {{item.gender}} </li>
  <li style="float:left; width:180px;" *ngFor="let item of horses | async" >{{item.name}} </li>
  <li style="float:left; width:180px;" *ngFor="let item of trainings | async">{{item.written_text}} {{item.canter.beat}} </li>
</ul>
</div>


</div>

</div>

</div>


