//Equilab project
.container{
  padding-left: 150px;
  margin-top: 60px;
  width: auto;
}
@media screen and (max-width: 750px){
  .container{
    padding-left: 120px;
    margin-top: 60px;
    width: auto;
  }
}

.rowsPadding{
  padding: 20px;
  color:grey;
}
p{
  padding: 5px;
  color:grey;
}

h4:hover{
  cursor: pointer;
  color: #ED6C44 ;
}


select {
  border-color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.26);
  height: 30px;
  font-size: 16px;
  margin-left: 15px;
  margin-top: 15px;
  color: grey;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px;
}
.setColor{
  color: #ED6C44;
  font-weight:bold;

}
.unSetColor{
  color: grey;

}
.rTable { display: table; }
.rTableRow { display: table-row; }
.rTableHeading { display: table-header-group; }
.rTableBody { display: table-row-group; }
.rTableFoot { display: table-footer-group; }
.rTableCell, .rTableHead { display: table-cell; }

//funkar ej waaaaat
.mat-ripple{
  background-color: #ED6C44 !important;
}
.mat-tab-label{
  background-color: #ED6C44 !important;
}
.mat-card{

}
label{
  background-color: green;
}
