<div *ngIf="isAuth()" id="mySidenav" class="sidenav">


  <div>
    <div class="userinfo">
      <div class="avatar">
        <i class="material-icons" style="font-size: 60px;">account_circle</i>
      </div>
      <div class="info">
        <span class="username">Username</span>
        <span class="useremail">{{user?.email}}</span>
      </div>
    </div>

    <hr>
    <a [routerLink]="['/home']"><span class="glyphicon glyphicon-home"></span>Home</a>
    <hr>
    <a [routerLink]="['/mystable']"><span><i class="material-icons">business</i></span>My Stable</a>
    <hr>
    <a [routerLink]="['/overview']"><span class="glyphicon glyphicon-eye-open"></span>Overview</a>
    <hr>
    <a [routerLink]="['/about']"><span class="glyphicon glyphicon-info-sign"></span>About</a>
    <hr>

  </div>
</div>


