<div *ngIf="isAuth()" class="navbar navbar-fixed-top"></div>

<div *ngIf="isAuth()" id="mySidenav" class="sidenav">


  <div>
   <!-- <div class="userinfo">
      <div style="" class="avatar">
       <a class="avatar" style="padding: 0;" [routerLink]="['profile']" routerLinkActive="avatarActive"><i class="material-icons" style="font-size: 60px; color: #FFFFFF;">account_circle</i></a>
      </div>
      <div class="info">
        <span style="color: #FFFFFF;" class="username">Logged in as:</span>
        <span style="color: #FFFFFF;" class="useremail">{{user}}</span>
      </div>
    </div> -->


    <a class="zoom" style="color: #FFFFFF; " [routerLink]="['/home']" routerLinkActive="active"> <img class="logo" src="assets/images/equilab-logo.png"><img class="name" style="margin-top: 10px;" src="assets/images/equilabName.png" height="20"></a>
    <hr>
    <a class="zoom" [routerLink]="['/overview']" routerLinkActive="active"><img style="margin-left: 7px;" class="horse" src="assets/images/horse-sidenav.png" height="48"><p style="margin-top: 5px; font-size: 15px; color: #FFFFFF;">Overview</p></a>
    <hr>
    <a class="zoom" [routerLink]="['/mystable']" routerLinkActive="active"><img style="margin-left: 13px;" class="horseShoe" src="assets/images/horseshoe-sidenav.png" height="35"><p style="margin-top: 5px; margin-left: 10px; font-size: 16px; color: #FFFFFF;">Stable</p></a>
    <hr>
    <a class="zoom" [routerLink]="['/home']" routerLinkActive="active"><img style="margin-left: 13px;" class="winnersCup" src="assets/images/trophy-sidenav.png" height="35"><p style="margin-top: 5px; margin-left: 10px; font-size: 16px; color: #FFFFFF;">Home</p></a>
    <hr>
    <a (click)="onSignOut()">Logout<span id="logoutSpan" style="position: absolute; margin-top: 473px; margin-left: 10px;" class="glyphicon glyphicon-lock"></span></a>

    <!-- <a [routerLink]="['/about']" routerLinkActive="active"><span class="glyphicon glyphicon-info-sign"></span>About</a>
    <hr> -->

  </div>
</div>


