<title>Equilab | My Stable</title>


<div class="container" >
  <div class="wrapper">

    <div id="page-wrapper" [ngSwitch]="current" [@slideToLeft]="'true'">
      <h1> My horses </h1>

      <div class="selectStyle" >
        <select #select [(ngModel)]="current" [ngClass]="{setColor: current}"
              (change)="selectedFromList($event.target.selectedIndex)">
          <option *ngFor="let item of list" [ngClass]="{unSetColor: item}" [value]="item.id">{{item.name}}
          </option>
        </select>
      </div>

      <div style="display: block; "  *ngFor="let horse of myPonnys; let i = index">
       <h4 [@fadeIn]="'true'" [attr.data-target]="'#'+i" data-toggle="collapse"  class="rowsPadding" >{{horse?.name}}</h4><hr>

        <div class="collapse"  [attr.id]="i" style="">
          <div class="rTable">
            <!-- Date -->
            <div class="rTableRow">
              <div class="rTableHead"  *ngFor="let training of horse?.trainingsData; let dateIndex = index"><strong *ngIf="dateIndex<7">{{ training?.date | date:'MMM d EEEE' }}</strong><hr></div>
            </div>
            <!-- Surface -->
            <div class="rTableRow" *ngSwitchCase="'2'">
              <div class="rTableCell" *ngFor="let training of horse?.trainingsData; let groundIndex = index"><p *ngIf="groundIndex<7">{{training?.ground}}</p><hr></div>
            </div>
            <!-- Time -->
            <div class="rTableRow" *ngSwitchCase="'4'">
              <div class="rTableCell" *ngFor="let training of horse?.trainingsData; let timeIndex = index"><p *ngIf="timeIndex<7">{{training?.total.time | secondsToTime}}</p><hr></div>
            </div>
            <!-- Distance -->
            <div class="rTableRow" *ngSwitchCase="'5'">
              <div class="rTableCell" *ngFor="let training of horse?.trainingsData; let distanceIndex = index"><p *ngIf="distanceIndex<7">{{training?.total.distance | distance}}</p><hr></div>
            </div>
            <!-- Horse Preformance -->
            <div class="rTableRow" *ngSwitchCase="'8'">
              <div class="rTableCell" *ngFor="let training of horse?.trainingsData; let hperformanceIndex = index"> <p *ngIf="hperformanceIndex<7">{{training?.horse_performance}}/5</p><hr></div>
            </div>
            <!-- Rider Preformance -->
            <div class="rTableRow" *ngSwitchCase="'6'">
              <div class="rTableCell" *ngFor="let training of horse?.trainingsData; let rperformanceIndex = index">  <p *ngIf="rperformanceIndex<7">{{training?.rider_performance}}/5</p><hr></div>
            </div>
            <!-- Gait -->
            <div class="rTableRow" *ngSwitchCase="'3'">
              <div id="GaitContainer" class="rTableCell" *ngFor="let training of horse?.trainingsData; let trainingIndex = index">
                <div *ngIf="trainingIndex<7" class="container-fluid">
                  <p style="position: absolute; margin-right: 110px;">Canter </p>
                  <p style="position: absolute; margin-top: 23px; margin-right: 110px;">Trot  </p>
                  <p style="position: absolute; margin-top: 45px; margin-right: 110px;">Walk </p>
                  <canvas  *ngIf="isLoading" style="display: inline; margin-left: 60px;" baseChart width="100" height="70"
                           [datasets]="[{data: [training?.canter?.time.toFixed(1), training?.trot?.time.toFixed(1), training?.walk?.time.toFixed(1)]}]"
                           [labels]="barChartLabels"
                           [options]="barChartOptions"
                           [colors]="barChartColors"
                           [chartType]="barChartType">
                  </canvas><hr>
                  </div>
                <div *ngIf="!isLoading" class="text-center">
                  <md-progress-spinner mode="indeterminate" color="primary">Loading</md-progress-spinner>
                </div>
                </div>
            </div>
            <!-- Turns -->
            <div class="rTableRow" *ngSwitchCase="'7'">
              <div id="TurnsContainer" class="rTableCell" *ngFor="let training of horse?.trainingsData; let trainingIndex = index">

                  <div *ngIf="trainingIndex<7" style="width: 200px; margin-right: 0px;">
                    <canvas *ngIf="isLoading"  style="display: inline-flex; margin-right: 150px;" baseChart width="30" height="15"
                            [datasets]="[{data: [training?.turns?.leftTotal.toFixed(1), training?.turns?.rightTotal.toFixed(1)],label: ['Left Turns', 'Right Turns']}]"
                            [labels]="pieChartLabels"
                            [options]="pieChartOptions"
                            [colors]="pieChartColors"
                            [chartType]="pieChartType"
                    ></canvas><hr>
                  </div>
                  <div *ngIf="!isLoading" class="text-center">
                    <md-progress-spinner mode="indeterminate" color="primary">Loading</md-progress-spinner>
                  </div>

              </div>
            </div>
            <!-- Overview -->
            <div class="rTableRow" *ngSwitchCase="'1'">
              <div class="rTableCell" *ngFor="let training of horse?.trainingsData; let groundIndex = index"><p *ngIf="groundIndex<7">{{training?.ground}}</p><hr></div>
            </div>
            <div class="rTableRow" *ngSwitchCase="'1'">
              <div class="rTableCell" *ngFor="let training of horse?.trainingsData; let timeIndex = index"><p *ngIf="timeIndex<7">{{training?.total.time | secondsToTime}}</p><hr></div>
            </div>
            <div class="rTableRow" *ngSwitchCase="'1'">
              <div class="rTableCell" *ngFor="let training of horse?.trainingsData; let distanceIndex = index"><p *ngIf="distanceIndex<7">{{training?.total.distance | distance}}</p><hr></div>
            </div>
            <div class="rTableRow" *ngSwitchCase="'1'">
              <div class="rTableCell" *ngFor="let training of horse?.trainingsData; let hperformanceIndex = index"> <p *ngIf="hperformanceIndex<7">{{training?.horse_performance}}/5</p><hr></div>
            </div>
            <div class="rTableRow" *ngSwitchCase="'1'">
              <div class="rTableCell" *ngFor="let training of horse?.trainingsData; let rperformanceIndex = index">  <p *ngIf="rperformanceIndex<7">{{training?.rider_performance}}/5</p><hr></div>
            </div>
            <div class="rTableRow" *ngSwitchCase="'1'">
              <div id="g" class="rTableCell" *ngFor="let training of horse?.trainingsData; let trainingIndex = index">
                <div *ngIf="trainingIndex<7" class="container-fluid">
                  <p style="position: absolute; margin-right: 110px;">Canter </p>
                  <p style="position: absolute; margin-top: 23px; margin-right: 110px;">Trot  </p>
                  <p style="position: absolute; margin-top: 45px; margin-right: 110px;">Walk </p>
                  <canvas  *ngIf="isLoading" style="display: inline; margin-left: 60px;" baseChart width="100" height="70"
                           [datasets]="[{data: [training?.canter?.time.toFixed(1), training?.trot?.time.toFixed(1), training?.walk?.time.toFixed(1)]}]"
                           [labels]="barChartLabels"
                           [options]="barChartOptions"
                           [colors]="barChartColors"
                           [chartType]="barChartType">
                  </canvas>
                  <hr>
                </div>
                <div *ngIf="!isLoading" class="text-center">
                  <md-progress-spinner mode="indeterminate" color="primary">Loading</md-progress-spinner>
                </div>
              </div>
            </div>
            <div class="rTableRow" *ngSwitchCase="'1'">
              <div id="t" class="rTableCell" *ngFor="let training of horse?.trainingsData; let trainingIndex = index">

                  <div *ngIf="trainingIndex<7" style="width: 200px; margin-right: 0px;">
                    <canvas *ngIf="isLoading"  style="display:inline-flex;" baseChart width="80" height="50"
                            [datasets]="[{data: [training?.turns?.leftTotal.toFixed(1), training?.turns?.rightTotal.toFixed(1)],label: ['Left Turns', 'Right Turns']}]"
                            [labels]="pieChartLabels"
                            [options]="pieChartOptions"
                            [colors]="pieChartColors"
                            [chartType]="pieChartType"
                    ></canvas>
                    <hr>

                  <div *ngIf="!isLoading" class="text-center">
                    <md-progress-spinner mode="indeterminate" color="primary">Loading</md-progress-spinner>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

