//Equilab project


.container{
  padding-left: 200px;
  margin-top: 60px;
  width: auto;
}
@media screen and (max-width: 750px){
  .container{
    padding-left: 120px;
    margin-top: 60px;
    width: auto;
  }
}




.selectStyle{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

}
.rowsPadding{
  padding: 25px 0px 0px 0px;
  color:grey;
}


h4:hover{
  cursor: pointer;
  color: #ED6C44 ;
}



select {
  border-color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.26);
  height: 30px;
  font-size: 16px;
  color: grey;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px;
}
.setColor{
  color: #ED6C44;
  font-weight:bold;

}
.unSetColor{
  color: grey;
}
p{
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color:grey;
}
strong{
  font-family: Verdana,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color:grey;
}
.rTable {
  display: table;
  width: 100% !important;
}
.rTableRow {
  display: table-row;

}
.rTableHeading {
  display: table-header-group;
  background-color: #ddd;
}
.rTableCell, .rTableHead {
  display: table-cell;

}
.rTableHeading {
  display: table-header-group;
  background-color: #ddd;
  font-weight: bold;
}
.rTableFoot {
  display: table-footer-group;
  font-weight: bold;
  background-color: #ddd;
}
.rTableBody {
  display: table-row-group;
}
