<title>Equilab | My Stable </title>

<div class="container" [@slideToLeft]="'true'" style="padding-left: 250px; margin-top: 60px; width: auto;">
  <div class="wrapper">

    <div id="page-wrapper">


      <div class="row">

        <div class="col-lg-6">

          <md-card> adasdasdasdsd </md-card>
        </div>


        <div class="col-lg-6">

          <md-card> sdfsdfsdfsdfsd</md-card>
        </div>
      </div>


      <div class="row">

        <div class="col-lg-6">

          <md-card>sdfsdfsdfsdfsdf</md-card>
        </div>


        <div class="col-lg-6">

          <md-card>sdfsdfsdfsdf</md-card>
        </div>
      </div>
    </div>

  </div>

</div>


