//Equilab project
.container{
  padding-left: 250px;
  margin-top: 60px;
  width: auto;
}
@media screen and (max-width: 750px){
  .container{
    padding-left: 120px;
    margin-top: 60px;
    width: auto;
  }
}
